@import "./reset.css";

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.wrapper {
  margin: 20px;
}

header, footer .bottom{
  display: flex;
  justify-content: space-between;
}

li {
  display: inline-block;
  margin: 10px;
}