<div class="modal-container">
  <div class="modal message">
    <h3><%= data.message %></h3>
    <div class="button-container">
      <button class="close-button">CLOSE</button>
    </div>
  </div>
</div>
<script src="/javascripts/handlers.js"></script>
