/* hidden */
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* common */
body {
  background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/bg.jpg);
}

a:hover{
  text-decoration: underline;
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 90px;
  margin-left: 3%;
}

header a img {
  width: 167px;
  height: 45px;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: 660px;
  margin: 0 auto 90px;
  padding: 60px 68px 40px;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(0,0,0,.75);
  color: #fff;
}

main form {
  flex-grow: 1;
}

main form h2 {
  margin-bottom: 28px;
  font-size: 32px;
}

/* input-container */
.input-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  color: #8C8C8C;
}

.input-container input{
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background: #333333;
}

.input-container input:focus{
  outline: none;
  background: #555555;
  color: #fff;
  transition: all 0.1s;
}

.input-container input:is(:focus, :valid){
  padding: 16px 20px 0px;
}

.input-container input:is(:focus, :valid) ~ label {
  top: 30%;
  left: 56%;
  font-size: 12px;
}

.input-container div{
  display: flex;
  position: relative;
}

.input-container div label{
  position: absolute;
  top: 50%;
  left: 55%;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* login-container */
.login-container{
  color: #b3b3b3;
}

.login-container button{
  margin: 24px 0 12px;
  padding: 16px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  background: #e50914;
  color: #fff;
  cursor: pointer;
}

.login-container .button-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  margin-top: 2px;
  font-size: 13px;
}

.login-container .button-bottom .login-help{
  display: flex;
  padding-left: 20px;
}

/* rememberUserInfo checkbox */
.login-container .button-bottom .login-help input{
  width: 0;
}

.login-container .button-bottom .login-help label {
  position: relative;
}

.login-container .button-bottom .login-help label::before,
.login-container .button-bottom .login-help label::after{
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -20px;
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 2px;
}

.login-container .button-bottom .login-help label::before{
  background: #737373;
}

.login-container .button-bottom .login-help input:focus + label::after{
  background: #fff;
}

.login-container .button-bottom .login-help label i{
  position: absolute;
  top: 0%;
  left: -20%;
  transform: (-50%, -50%);
  color: #000;
  opacity: 0;
}

.login-container .button-bottom input:checked + label i{
  opacity: 1;
  z-index: 999;
  transition: all 0.1s;
}

/* other-container */
.other-container{
  height: 161px;
}

.other-container .signup-container{
  display: flex;
  margin-top: 16px;
  color: #737373;
  font-weight: 400;
}

.other-container .signup-container a{
  color: #fff;
}

.other-container .terms-of-use{
  margin: 13px 0;
  font-size: 13px;
  line-height: 17px;
  color: #8C8C8C;
}

.other-container .terms-of-use a{
  color: #0071eb;
}

/* footer */
footer {
  width: 100%;
  background: rgba(0,0,0,.75);
  color: #737373;
}

footer .footer-container{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
}

/* contact-number */
.contact-number{
  margin-bottom: 30px;
}

/* links */
.links{
  font-size: 13px;
}

.links ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.links ul li{
  margin-bottom: 16px;
}

/* language */
.language{
  position: relative;
  margin-top: 20px;
  font-size: 13px;
}

.language label{
  position: relative;
  width: 120px;
  height: 48px;
}

.language label .globe{
  position: absolute;
  top: 43%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.language select{
  width: 120px;
  height: 48px;
  padding: 0 26px 0 28px;
  border: 1px solid #333;
  border-radius: 2px;
  background: #000;
  color: #777;
  z-index: 99;
}

/* about-us */
.about-us{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 20px 0;
  color: #808080;
  font-size: 12px;
}